/* general */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Economica', sans-serif;
    font-size: 100%;
    color: rgb(212, 212, 72);
}

h2 {
    position: absolute;
    z-index: 20;
    font-family: 'Lora', serif;
    color: rgb(218, 218, 191);
    font-size: 2em;
    margin: 0 auto;
    width: 50vw;
}

h3 {
    font-family: 'Economica', sans-serif;
    color: rgb(218, 218, 191);
    font-size: 3.5em;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-bottom: solid rgb(218, 218, 191) 5px;
}

h4 {
    color: rgb(218, 218, 191);
    font-size: 2.5em;
    margin: 20px;
}

p {
    color: rgb(218, 218, 191);
    font-size: 1.5em;
}

section {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
    grid-template-rows: 
        [landing-start] 100vh [landing-end about-start] 
        auto [about-end] 
        repeat(3, [row-start] 100vh [row-end]);
}

.main > * {
    grid-column: col-start 1 / col-end 12;
    grid-column: 1 / -1;
}

/* header */

.header {
    position: absolute;
    display: flex;
    grid-column: col- start 1 / col-end 12;
    grid-row: header-start / header-end;
    z-index: 10;
}

/* landing page */

.landing {
    display: flex;
    height: 100vh;
    width: 100vw;
    grid-column: col-start 1 / col-end 12;
    grid-row: landing-start / landing-end;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landingBackground {
    height: 100vh;
    width: 100vw;
    filter: blur(0.2em);
    transform: scale(1.03);
}

/* About section */
.about {
    grid-column: col-start 1 / col-end 12;
    grid-row: about-start / about-end;
    background: rgb(26, 26, 23);
}

.features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-basis: 100%;
}

.features div {
    flex-basis: 25%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.features div i {
    font-size: 8em;
}

/* section 2 */

.section2 {
    background: green;
}

.section3 {
    background: orange;
}

.section4 {
    background: pink;
}

/* animations */
.name {
    position: absolute;
    z-index: 30;
    animation-name: nameSlide;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.httpIcon {
    position: absolute;
    z-index: 30;
    display: flex;
    animation-name: iconSlide;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* animation-name: arrowBounce;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

.httpIcon > * {
    margin: 0;
}

.iconColon {
    animation-name: arrowColon;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.iconSlashA {
    animation-name: arrowSlashA;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.iconSlashB {
    animation-name: arrowSlashB;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.arrowWrapper {
    position: absolute;
    z-index: 30;
    animation-name: arrowBounce;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 12s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes iconSlide {
    0% {
        transform: translate(-60px, 15px);
    }
    100% {
        transform: translate(89vw, 15px);
    }
}

@keyframes nameSlide {
    0% {
        transform: translate(-30px, 17px);
    }
    100% {
        transform: translate(91vw, 17px);
    }
}

@keyframes arrowColon {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: translate(-39.9vw, 78vh);
    }
}

@keyframes arrowSlashA {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: translate(-39.8vw, 80vh) rotate(20deg);
    }
}

@keyframes arrowSlashB {
    100%{
        transform: translate(-41.9vw, 80.8vh) rotate(125deg);
    }
}

@keyframes arrowBounce {
    0%{
        transform: translateY(5vh);
    }
    50%{
        transform: translateY(-5vh);
    }
    100%{
        transform: translateY(5vh);
    }
}

/* media queries */

@media (max-width: 900px) {
    .about{
        
    }
    .features div {
        flex-basis: 50%;
    }
}